/* src/pages/Login.css */

.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #000000;
}

.login-form input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.login-form button {
  background-color: #59E5A9;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #45c292;
}

.register-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.register-link a {
  color: #59E5A9;
  font-weight: bold;
  text-decoration: none;
}
.register-link a:hover {
  text-decoration: underline;
}

